* {
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
}
nav img{
  width: 100px;
  aspect-ratio: 1/1;
}
main {
  display: flex;
  margin-top: 20px;
}
aside {
  width: 35%;
}
.sideBar a {
  text-decoration: none;
}
.cardDetail {
  width: 100%;
  display: flex;
}
.cardDetail img {
  width:500 px ;
}
.cardDetail h5,p{
 font-size: xx-large;
 font-family: 'Times New Roman', Times, serif;
}
