* {
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
  color:purple
}
body {
  background-color: black;
}
nav {
  display: flex;
  text-align: center;
  margin-inline: 10px;
  margin-block: 50px;
  color: purple;
}
nav img{
  width: 100px;
  background-color: transparent;
}
.nav-link{
  color: purple !important;
}
.title{
  border: none;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
}

form{
display: flex;
justify-content: space-around;
padding-inline: 20px;
align-items: center;
}
.D-none{
  display: none;
}
.form-input{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-inline-end: 20 px;
}
.form-description{
  display: flex;
}
.form_button{
  display: flex;
  flex-direction: column;
gap: 20px;

}
#change{
  border: none;
}
main {
  margin-inline: 10px;
}
.card:hover{
  transform: scale(1,1.1);
  overflow: hidden;

}

#cardFind img {
  align-self: center;
  width: 286px;
  aspect-ratio: 1/1;
}
