* {
  object-fit: cover;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: black;
}
nav {
  display: flex;
  text-align: center;
  margin-inline: 10px;
  margin-block: 50px;
  color: white;
}

main {
  margin-inline: 10px;
}

#cardFind img {
  align-self: center;
  width: 286px;
  aspect-ratio: 1/1;
}
